@import "./scss/index.scss";

.btn {
  box-shadow: none;

  &.btn-primary {
    background-color: $primary;
    border-color: $primary;

    &:hover {
      background-color: rgba(26, 145, 218, 1);
    }
  }

  &.btn-outline-primary {
    color: $primary;
    border-color: $border-primary;

    &:hover,
    &:active,
    &:focus {
      background-color: rgba(29, 261, 241, 0.1);
    }
  }
}

input.form-control,
textarea.form-control {
  background-color: $background-dark-light;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid $border-grey;
  color: $font-light;
  &:focus {
    background-color: $background-dark-light;
    box-shadow: none;
    border-bottom: 1px solid $primary;
  }
}

.toast__container {
  border-radius: 20px !important;
  background-color: $background-dark-light !important;
  filter: drop-shadow(0 0 1em #1d1f52aa) !important;
  color: #fff !important;
}

input {
  color-scheme: dark;
}
