@import "../../scss/index.scss";

.signin_signup {
  &__left {
    overflow: hidden;
    min-height: 100vh;
    background-color: $primary-light;
    display: flex;
    align-items: center;
    justify-content: center;

    &__logo {
      position: absolute;
      right: 42%;
    }
    &__title {
      display: flex;
      align-items: center;
      font-size: 30px;
      margin-bottom: 40px;
      font-weight: bold;

      svg {
        margin-right: 20px;
        font-size: 30px;
        width: 40px;
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
    overflow: hidden;

    &__content {
      width: 500px;
      margin: 0 184.939px;

      img {
        width: 20%;
        margin-bottom: -15px;
      }

      h2 {
        font-weight: bold;
        margin-bottom: 70px;
      }

      h3 {
        font-weight: bold;
        margin-bottom: 30px;
      }

      button {
        display: block;
        width: 100%;
        border-radius: 50px;
        font-size: 20px;
        font-weight: bold;
        padding: 10px 0;

        &first-of-type {
          margin-bottom: 20px;
        }
      }
    }
  }
}
