@import "../../scss/index.scss";

.home {
  article {
    padding: 10px;
  }

  &__load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__load__load-more {
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: transparent;
    border: 0;

    &:hover,
    &:focus {
      background-color: transparent;
      color: $primary;
    }
  }
}
