@import "../../../scss/index.scss";

.edit-user-form {
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $background-dark-light;
    background-repeat: no-repeat;
    padding: -20px;

    &:hover {
      cursor: pointer;
    }
    svg {
      width: 20px;
      height: 40px;
      color: $font-light;
      padding: 5px;
      border-radius: 100px;
      background-color: rgba($color: #25415b, $alpha: 0.4);
      box-shadow: 0 0 10px rgba($color: #25415b, $alpha: 0.4);
      &:hover {
        color: #c3e3ff;
      }
    }
    &__avatar {
      margin-top: 20px;
      border: 2px solid $font-light;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 100px;
      height: 102px;
      width: 102px;
      &__container {
        display: flex;
        align-items: center;
        margin: 10px 10px;

        p {
          margin: 0 15px;
        }
      }
    }
  }

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $font-light;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    top: 2%;
    left: 25%;
    transform: translate(-10%, -10%);

    &:hover {
      cursor: pointer;
    }

    svg {
      width: 20px;
      height: 40px;
      color: $font-light;
      padding: 5px;
      border-radius: 100px;
      background-color: rgba($color: #25415b, $alpha: 0.4);
      box-shadow: 0 0 10px rgba($color: #25415b, $alpha: 0.4);

      &:hover {
        color: #c3e3ff;
      }
    }
  }

  form {
    padding: 0 20px 20px 20px;

    p {
      margin-bottom: 10px;
      padding: auto;
    }

    .btn-submit {
      border-radius: 50px;
      width: 100%;
      align-items: center;
    }
    .btn_Back {
      border-radius: 70px;
      top: -103px;
      left: -70px;
      &:hover {
        border-radius: 70px;
        background-color: rgba($color: #25415b, $alpha: 0.4);
        box-shadow: 0 0 10px rgba($color: #25415b, $alpha: 0.4);
      }
    }
  }
}
