@import "../../scss/index.scss";

.user {
  &__title {
    border-bottom: 1px solid $border-grey;
    padding: 15px;
  }

  h2 {
    font-size: 22px;
    margin-bottom: 0;
    font-weight: bold;
  }
}
